.background {
    position: fixed;
    left: -50vw;
    width: 200vw;
    height: 200vw;
    top: -50vw;
    z-index: -1;
    filter: blur(10px);
    background: conic-gradient( blue, green, red, blue );
    animation: gradientAnim 10s infinite linear;
    background-position: center;
}

.beat {
    height: 100%;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0.2 );
    animation: beatAnim 0.6s infinite linear;
    display: none;
}

@keyframes beatAnim {
    0% {
        background-color: rgba( 0, 0, 0, 0.2 );
    }
    50% {
        background-color: rgba( 0, 0, 0, 0 );
    }
}

@keyframes gradientAnim {
    from {
        transform: rotate( 0deg );
    }
    to {
        transform: rotate( 360deg );
    }
}