:root, :root.light {
    --primary-color: #2c3e50;
    --accent-background: rgb(30, 30, 82);
    --secondary-color: white;
    --background-color: white;
    --popup-color: rgb(224, 224, 224);
    --accent-color: #42b983;
    --hover-color: rgb(165, 165, 165);
    --accent-background-hover: rgb(124, 140, 236);
    --overlay-color: rgba(0, 0, 0, 0.7);
    --border-color: rgb(100, 100, 100);
    --highlight-backdrop: rgb(143, 134, 192);
    --hint-color: rgb(174, 210, 221);
    --PI: 3.14159265358979;
}

:root.dark {
    --primary-color: white;
    --accent-background: rgb(56, 56, 112);
    --secondary-color: white;
    --background-color: rgb(32, 32, 32);
    --popup-color: rgb(58, 58, 58);
    --accent-color: #42b983;
    --hover-color: rgb(83, 83, 83);
    --accent-background-hover: #4380a8;
    --overlay-color: rgba(104, 104, 104, 0.575);
    --border-color: rgb(190, 190, 190);
    --highlight-backdrop: rgb(85, 63, 207);
    --hint-color: rgb(88, 91, 110);
}

@media ( prefers-color-scheme: dark ) {
    :root {
        --primary-color: white;
        --accent-background: rgb(56, 56, 112);
        --secondary-color: white;
        --background-color: rgb(32, 32, 32);
        --popup-color: rgb(58, 58, 58);
        --accent-color: #42b983;
        --hover-color: rgb(83, 83, 83);
        --accent-background-hover: #4380a8;
        --overlay-color: rgba(104, 104, 104, 0.575);
        --border-color: rgb(190, 190, 190);
        --highlight-backdrop: rgb(85, 63, 207);
        --hint-color: rgb(88, 91, 110);
    }
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playing-symbols {
    position: absolute;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 5vw;
    height: 5vw;
    background-color: rgba( 0, 0, 0, 0.6 );
}

.playing-symbols-wrapper {
    width: 4vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.playing-bar {
    height: 60%;
    background-color: white;
    width: 10%;
    border-radius: 50px;
    margin: auto;
}

#bar-1 {
    animation: music-playing 0.9s infinite ease-in-out;
}

#bar-2 {
    animation: music-playing 0.9s infinite ease-in-out;
    animation-delay: 0.3s;
}

#bar-3 {
    animation: music-playing 0.9s infinite ease-in-out;
    animation-delay: 0.6s;
}

@keyframes music-playing {
    0% {
        transform: scaleY( 1 );
    }
    50% {
        transform: scaleY( 0.5 );
    }
    100% {
        transform: scaleY( 1 );
    }
}

.song-list-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.song-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2px;
    padding: 1vh;
    border: 1px var( --border-color ) solid;
}

.song-details-wrapper {
    margin: 0;
    display: block;
    margin-left: 10px;
    margin-right: auto;
}

.song-list .song-image {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    object-position: center;
    font-size: 5vw;
}

.pause-icon {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    object-position: center;
    font-size: 5vw !important;
    user-select: none;
}

.current-song {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55vh;
    width: 100%;
}

.fancy-view-song-art {
    height: 30vh;
    width: 30vh;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    font-size: 30vh !important;
}